textarea {
  resize: none;
}
body {
  display: flex;
  background-color: rgb(20, 20, 20);
}
#left,
#right {
  width: 20rem;
  max-width: 45%;
}
#left textarea {
  height: 100%;
}
#right {
  top: 30%;
  position: relative;
}
#middle {
  padding: 1rem;
  width: 5rem;
  max-width: 10%;
  position: relative;
}
#run {
  top: 30%;
  position: inherit;
}
.io {
  background-color: rgba(0, 0, 0, 0.25);
  border-color: #008f11;
  color: #00ff41;
  width: 100%;
}
